<div>
<h1>Sign up</h1>
<form (submit)=signUp()  #userForm="ngForm">
  <div>
    <label>Email </label>
    <input type="text" [(ngModel)]="user.email" name="email" email #email="ngModel">
    <div *ngIf ="email.hasError('email') && (email.dirty || email.touched)">email is invalid</div>
  </div>
  <div>
    <label>Password </label>
    <input type="password" [(ngModel)]="user.password" name="password">
  </div>
  <div>
      <label>Confirm password </label>
      <input type="password" #confirmPassword name="confirmPassword" appBlockCopypaste
       (blur)='checkPassword(confirmPassword.value)' >
    </div>
  <div>
      <label>Full name </label>
      <input type="text" [(ngModel)]="user.pseudo" name="pseudo" required #name=ngModel>
      <div *ngIf="name.hasError('required') && name.dirty"> Full name is required</div>
    </div>

  <button type="submit" [disabled]="userForm.invalid">Sign up</button>
</form>

</div>
